In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [2]:
X=pd.read_csv('../DAT210x/Module6/Datasets/dataset-har-PUC-Rio-ugulino.csv', delimiter=';', decimal=",")
X[pd.isnull(X).any(axis=1)]
X.head()

,user,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4,class
0,debora,Woman,46,1.62,75,28.6,-3,92,-63,-23,18,-19,5,104,-92,-150,-103,-147,sitting
1,debora,Woman,46,1.62,75,28.6,-3,94,-64,-21,18,-18,-14,104,-90,-149,-104,-145,sitting
2,debora,Woman,46,1.62,75,28.6,-1,97,-61,-12,20,-15,-13,104,-90,-151,-104,-144,sitting
3,debora,Woman,46,1.62,75,28.6,-2,96,-57,-15,21,-16,-13,104,-89,-153,-103,-142,sitting
4,debora,Woman,46,1.62,75,28.6,-1,96,-61,-13,20,-15,-13,104,-89,-153,-104,-143,sitting

In [3]:
X.gender.unique()

array(['Woman', 'Man'], dtype=object)

In [4]:
X.gender=X.gender.map({'Woman':1, 'Man':0})

In [5]:
y=pd.get_dummies(X['class'])

In [6]:
X.drop('class', axis=1, inplace=True)

In [7]:
# X['user'].astype('category').cat.codes

In [8]:
le=preprocessing.LabelEncoder()
le.fit(X.user)
X['user']=le.transform(X.user)

In [9]:
print(le.inverse_transform(X.user))

['debora' 'debora' 'debora' ... 'jose_carlos' 'jose_carlos' 'jose_carlos']

/Users/drdj/.pyenv/versions/3.6.5/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [10]:
X.head()

,user,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
0,0,1,46,1.62,75,28.6,-3,92,-63,-23,18,-19,5,104,-92,-150,-103,-147
1,0,1,46,1.62,75,28.6,-3,94,-64,-21,18,-18,-14,104,-90,-149,-104,-145
2,0,1,46,1.62,75,28.6,-1,97,-61,-12,20,-15,-13,104,-90,-151,-104,-144
3,0,1,46,1.62,75,28.6,-2,96,-57,-15,21,-16,-13,104,-89,-153,-103,-142
4,0,1,46,1.62,75,28.6,-1,96,-61,-13,20,-15,-13,104,-89,-153,-104,-143